.header__lang-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
  margin: 0 18px 0 0;
}
.header__lang-link:last-child {
  margin: 0;
}
.header__lang-link:hover {
  opacity: 0.5;
  transition: 0.1s;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
    color: #ffffff;
    cursor: pointer;
    
  }
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    min-height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 96%;
    text-align: right;
    color: #ffffff;
    cursor: pointer;
  }
}