.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.footer__link:hover {
  opacity: 0.5;
  transition: 0.1s;
}

@media screen and (max-width: 767px) {
  .footer__link {
   line-height: 24px;
   font-size: 24px;
   text-align: left;
  }
}