.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: 0.5;
  transition: 0.1s;
}

@media screen and (max-width: 375px) {
  .footer__linkm {
      font-style: normal;
      font-weight: normal;
  }
  .footer__link {
      margin-bottom: 18px;
  }
  .footer__link:nth-child(5) {
      margin-bottom: 0;
  }
}