.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .lead {
    margin: 0 auto 64px;
    max-width: 100%;
  }
}
