.intro__text {
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  max-width: 683px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    min-width: 288px;
  }
}