.cover__overlay {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.cover__overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}
.cover__overlay:hover::before {
  opacity: 0.8;
}