.intro__title {
  margin: 0;
  max-width: 683px;
  font-style: normal;
  font-size: 54px;
  line-height: 59px;
  font-weight: 900;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: left;
  
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
  }
}